<div id="<%= dom_id entry %>">
  <p>
    <strong>Title:</strong>
    <%= entry.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= entry.body %>
  </p>

  <p>
    <strong>Blog:</strong>
    <%= entry.blog_id %>
  </p>

</div>
