
<h1>
  書籍の情報
</h1>
<p>
  <strong>
    書籍名：
  </strong>
  <%= @book.name %>
</p>
<p>
  <strong>
    価格：
  </strong>
  <%= @book.price %>
</p>
<p>
  <strong>
    発売日：
  </strong>
  <%= @book.published_on %>
</p>
